.statusbar_container {
    height: 120px;
    width: 615px;
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    display: flex;
    overflow-x: scroll;
}

{/*.statusbar_container::-webkit-scrollbar {
    display: none;
}*/}

.statusbar_status {
min-width: 55px;
min-height: 55px;
border: 3px solid purple;
}

.status {
    margin: 25px 15px;

}

.statusbar_texts {
    font-size: 12px;
    max-width: 50px;
    overflow: hidden;
    text-align: center;
}