.body {

}

.loginpage_main {
    display: flex;
margin-top: 35px;
}

.loginpage_logo {
    width: 500px;
}


.loginpage_rightcomponent {
    width: 350px;
    padding-bottom: 25px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.loginpage_signin {
margin-top: 25px;
}

.loginpage_text {
width: 258px;
height: 36px;
margin: 5px;
border: 1px solid #dbdbdb;
background-color: #fafafa;
padding-left: 10px;
border-radius: 5px;
}

.login_button {
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid #AF7AC5;
    background-color: #AF7AC5;
    color: white;
}

.login_ordiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login_dividor {
width: 80px;
height: 0px;
margin-top: 10px;
border: 1px solid #dbdbdb
}

.login_or {
margin: 0px 10px;
font-weight: bold;
color: #8e8e8e
}

.login_fb {
color: #395185;
font-weight: bold;
margin-top: 30px;
}

.login_forgt {
color: rgba(var(--fe0,0,55,107),1);
font-size: 12px;
line-height: 14px;
margin-top: 12px;
text-align: center;
}

.loginpage_signuoption {
margin-top: 25px;
height: 56px;
width: 350px;
background-color: white;
border: 1px solid #dbdbdb;
text-align: center;
}

.loginpage_signin {
    margin-top: 20px;
}

.loginpage_signup {
margin-top: 20px;
}